/* CSS Document */
#producom{
	width:710px;
	color:#333;
}
#producom .img{
	width:190px;
	height:190px;
	border:#C90 1px solid;	
	padding:5px;
	float:left;
}
#producom .ct01{
	width:490px;
	float:right;
}
#producom .title{
	font:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:700;
}
#producom .ct02{
	width:700px;
	float:left;
	margin-top:10px;
}

/*Common*/
.mt10{margin-top:10px;}