@model IEnumerable<NM.Product>
@{
    ViewBag.Title = "HitProduct";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="content spacing"><a href="/Product/AddProduct"  class="button-blue">Thêm mới sản phẩm</a></div>
        
         <div id="divthemloaihang" class="panel-wrapper" style="margin-top:25px;"> 
        
		</div>
        	<div class="shadow"></div> 
        
        <div  class="panel-wrapper" style="margin-top:25px;"> 
        	<div class="panel">
            <div class="title"> 
                <h4><strong>Danh sách sản phẩm HIT</strong></h4> 
                <div class="collapse">thu gọn lại</div> 
            </div>
        	<div class="content"> <!-- ## Panel Content  -->
            	<table id="sample-table-sortable" class="sortable resizable">
                	<thead><tr>
                    	<th>STT</th>
                        <th>Tên sản phẩm </th>
                        <th>Hình ảnh</th>
                        <th>Chỉnh sửa</th>
                       
					</tr></thead> 
                    <tbody>
                    @{
                        int i = 1;
                        foreach (var item in Model)
                        {
                             <tr id="@item.IDProduct">
                    	    <td>@(i++)</td>
                            <td>@item.NamesProduct</td>
                            <td><img height="20" width="20" src="../../@item.ImagesLogoProduct" /></td>
                            <td><a href="/Product/EditProduct?idProduct=@item.IDProduct" >Chỉnh sửa</a></td>
                           
                            </tr>                        
                        }
                    }
                   
                  </tbody>
				</table>  
			<!-- ## / Panel Content  --> </div> 
		</div>
        	<div class="shadow"></div> 
        </div>

               
                <br /><br />
		
        <div class="notice warning" style="margin-top:25px;"><span><strong>Lưu ý:</strong> Để hệ thống hoạt động tốt bạn chỉ nên có 5 đến 10 sản phẩm trong danh sách trên</span> </div>
                
    

